@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
  background-color: #ecf2f8;
  padding-top: 3rem;
}

.testimonials__dan {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  color: white;
  background-color: #7541c8;
}

.testimonials__jon {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  color: white;
  background-color: #48556a;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.testimonials__patrick {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: white;
  background-color: #19212e;
}

.testimonials__jean, .testimonials__kira {
  color: #48556a;
  background-color: white;
}

.testimonials__jean {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.testimonials__kira {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.testimonials__quote {
  position: absolute;
  top: 0;
  right: 1.5625rem;
  height: 6.875rem;
}

.testimonials__default {
  border-radius: 0.3125rem;
  padding: 1.5625rem 2.625rem 2.1875rem 2.125rem;
}

.testimonials__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.375rem;
}

.testimonials__person--photo {
  height: 2.5rem;
  width: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.125rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin-right: 0.9375rem;
}

.testimonials__info--name {
  font-size: 0.6875rem;
}

.testimonials__info--role {
  font-size: 0.625rem;
  opacity: 50%;
}

.testimonials__title {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5625rem;
}

.testimonials__body {
  font-size: 1rem;
  opacity: 70%;
  line-height: 1.1;
}

@media (min-width: 81.1875rem) {
  .testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 1fr 1fr;
        grid-template-columns: 2fr 2fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    padding: 2.5rem;
  }
  .testimonials__default {
    min-width: 18.75rem;
  }
  .testimonials__title {
    letter-spacing: 0.0781rem;
  }
  .testimonials__body {
    line-height: 1.25;
  }
}

@media (max-width: 81.25rem) {
  .testimonials__default {
    width: 90%;
    max-width: 500px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */